# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#**/src/main/resources/application.properties
#**/src/main/java/com/turborvip/template/application/configuration/env/

### Log ###
logs/

### IntelliJ IDEA ###
.idea
